:root, ::backdrop{
    --background-color-default: #99ff99;
    --background-color-reverse: #002200;

    --midground-color-default: #90f090;

    --foreground-color-default: #8cec8c;
    --foreground-color-reverse: #0f2f0f;

    --foreground-color-grade00: #8cec8c;
    --foreground-color-grade10: #8aea8a;
    --foreground-color-grade20: #86e686;
    --foreground-color-grade30: #80e080;
    --foreground-color-grade40: #7ada7a;
    --foreground-color-grade50: #70d070;
    --foreground-color-grade60: #6ccc6c;
    --foreground-color-grade70: #69c969;
    --foreground-color-grade80: #62c262;
    --foreground-color-grade90: #52c252;

    --background-color-alerting: #cc0000;

    --text-color-default: #000000;

    --selection-color: #00cc00;

    --checked-color: #00c000;
    --denied-color: #c00000;
}
